/* шрифты */
@font-face {
    font-family: Tinkoff-1;
    src: url('TinkoffSans-Regular.ttf');
}

@font-face {
    font-family: Tinkoff-2;
    src: url('TinkoffSans-Medium.ttf');
}

@font-face {
    font-family: Tinkoff-3;
    src: url('TinkoffSans-Bold.ttf');
}
/* градиент на задний фон */
body {
    font-family: Tinkoff-1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(82,192,162,1) 49%, rgba(45,140,253,1) 100%);
    background-size: 400%;
    animation: gradient 10s infinite linear;
    color: #000000;
}

@keyframes gradient {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/* заголовок */
h1 {
    font-family: Tinkoff-3;
    text-align: center;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 1px #000000; /* Толщина и цвет обводки */
}

/* ссылка на главную страницу */
.back {
    font-size: 20px;
    position: absolute;
    top: 140px;
    left: 30px;
    width: 400px;
}

.back-link {
    position: relative;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}

.back-link::after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    transition: width .3s ease-in;
}

.back-link:hover::after {
    width: 100%;
    background-color: #ffffff;
    top: 100%;
}

/* панель настроек */
.toolbar {
    font-size: 18px;
    position: absolute;
    width: 350px;
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background-color: none;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 25px;
}

.selector-mode {
    margin-top: 10px;
}

/* клетки */
div span {
    width: 25px; 
    height: 25px; 
    position: absolute; 
    border: 2px solid black;
}

/* кнопки */
.control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.control-buttons button {
    width: 300px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.control-buttons button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.control-buttons button:active {
    transform: scale(0.95);
}

/* меню выбора */
option, select, input {
    height: 25px;
    font-family: Tinkoff-1;
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    border: 0px;
    border-radius: 5px;
}

/* цвета клеток */
.blankCell {
    background-color: #f0eeee;
}

.blankCell:hover {
    background-color: rgb(207, 207, 207);
}

.wall {
    background-color: rgb(28, 27, 46);
}

.wall:hover{
    background-color: black;
}

.endPoint {
    background-color: rgb(244, 0, 0);
}

.endPoint:hover {
    background-color: rgb(211, 27, 27);
}

.startPoint {
    background-color: green;
}

.startPoint:hover{
    background-color: rgb(22, 110, 22);
}

.theWay {
    background-color: rgb(255, 162, 0);
}

.theWay:hover{
    background-color: rgb(255, 200, 0);
}

.possibleWay {
    background-color: rgb(0, 42, 255);
}

.possibleWay:hover {
    background-color: rgb(72, 52, 152);
}

.seenCell {
    background-color: rgb(205, 243, 56);
}

.seenCell:hover {
    background-color: rgb(151, 186, 35);
}